{% extends "GestionDocente/base.html"%}
{% load static %}
{% block content %}

    {% if request.user.is_authenticated %}
    {% for profesor in profesor %}

    <ul style="color: white">
      <li>Academico
        <ul>
          <li>Hoja de vida estudiantil</li>
          <li>Historico</li>
          <li>Indicador de desempeños </li>
        </ul>
      </li>
    </ul>

    <!-- <div class="container">
        <div class="row">
          <div class="col-sm">
            {{profesor.Nombre}}
          </div>
          <div class="col-sm">
            {{profesor.Apellido}}
          </div>
          <div class="col-sm">
            {{profesor.Email}}
          </div>
        </div>
      </div> -->

   
    {% endfor %}

    {% for curso in curso %}
    <div><p>
       <h2>{{curso.Nombre}} </h2>
   </div>
   {% endfor %}


   {% else %}
    <center> <h1 style="color: white; align-self: center; "> Logeate por favor</h1>    </center> 
   {% endif %}
{%endblock%}
